@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,600&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formMain{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    border-width: 1px;
    border-color: pink;
    border-style: dashed;
    box-shadow: 0 0 20px 0 #fa75e8c4;
    margin-top: 50px;
    display: block;
    justify-items: center;
}
.formMain h2{
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}
div[name="rowl"]{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#input {
    border-color: #fff;
    border-width: inherit;
    border-radius: 8px;
    height: 50px;
    box-shadow: 0 0 0 0 #fffffff8;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: rgba(255, 78, 246, 0.623);
    font-weight: 700;
    font-style: italic;
    text-align: center;
    outline-color: #ff69b4;
    outline-style: solid;
    outline-width: thin;
    margin-bottom: 20px;
}
input:focus {
    outline: none;
}
input::placeholder {
    text-align: center;
    font-size: 16px;
    color: rgba(255, 78, 246, 0.623);
}
.inputName{
    border-color: pink;
    border-width: 1px;
    border-radius: 8px;
    background-color: #fff;
}
.btn{
    background: #fff;
    border: none;
    border-radius: 8px;
    height: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: #40c0e0;
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(255, 78, 246, 0.623);
}
.heart {
    position: absolute;
    width: 100px;
    height: 90px;
    background-color: #ff69b4; /* Màu hồng */
    transform: rotate(-45deg);
    animation: fade-in 0.5s ease-in-out;
  }

  .heart::before,
  .heart::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff69b4;
    border-radius: 50%;
  }

  .heart::before {
    top: -50px;
    left: 0;
  }

  .heart::after {
    top: -9px;
    left: 41px;
  }

  .text {
    position: absolute;
    width: 150px;
    top: 25%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(45deg); /* Xoay chữ đúng hướng */
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    z-index: 100;
  }
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }